################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcoPower_Logistics/SuperStore P3/SuperStore P3/appsettings.json
